<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css"/>
    <title>Web App</title>
</head>
<body>
    <nav class="navbar">
        <li>Home</li>
        <li>About</li>
        <li>Service</li>
        <li>Contact</li>
    </nav>
    <section class="banner">
        <h1>Welcome To Grocery</h1>
        <p>Create an Account today amd get access to </p>
        <div>
            <div>Unlimited items</div>
            <div>Scheduled Shopping</div>
            <div>Fast Delivery</div>
        </div>
    </section>
    
</body>
</html>